body {
  padding: 0;
  margin: 0;
}

.content {
  font-size: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  background: cornflowerblue;
}

.extra--mobile {
  width: 640px;
}

.wrapper {
  position: relative;
}

.frame {
  /* width: 1020px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button {
  position: absolute;
  top: 0;
  z-index: 5;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  width: 80px;
  background: lightgrey;
  line-height: 40px;
  color: black;
}

.button__back {
  position: fixed;
  right: 60px;
  top: 400px;
  z-index: 30;
}

.button__mobile,
.button__desktop {
  position: fixed;
  right: 60px;
  top: 340px;
  z-index: 30;
  display: none;
}

.active {
  display: block;
}
