@import "./normalize.css";
@import "./fonts.css";

body {
  font-family: "Segoe WP", "Helvetica", sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.wrapper {
  background-image: url("../assets/images/bgtop.jpg");
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 28px;
  height: 84px;
}

.page-header__title {
  font-family: "LucidaSans", "Helvetica", sans-serif;
  font-size: 41px;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 24px;
  padding-left: 6px;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
}

.page-header__navigation {
  margin-left: auto;
  margin-top: auto;
  -webkit-box-shadow: -8px -10px 0px 0px rgba(231,166,26,0.27);
  box-shadow: -8px -10px 0px 0px rgba(231,166,26,0.27);
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 453px;
  background: #f5c506;
    -webkit-box-shadow: -4px -5px 0px 0px rgba(231,166,26,0.27);
  box-shadow: -4px -5px 0px 0px rgba(231,166,26,0.27);
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu__item-link {
  font-family: "Segoe WP", "Helvetica", sans-serif;
  height: 41px;
  text-decoration: none;
  color: #9b7d08;
  font-size: 17px;
  font-style: 400;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 23px 0 40px;
  white-space: nowrap;
}

.menu__item {
  border-right: 1px solid hsla(0, 0%, 0%, 0.1);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu__item:last-of-type {
  border: none;
}

.menu__item-link:hover,
.menu__item-link--active {
  color: hsla(0, 0%, 0%, 0.7);
}

.menu__item-link--person {
  padding: 0 16px 0 36px;
}

.menu__item-link--tool {
  padding: 0 4px 0 42px;
}

.menu__item-link--envelope {
  padding-left: 48px;
}

.menu__item-link::before {
  content: "";
  top: 11px;
  position: absolute;
}

.menu__item-link--person::before {
  width: 21px;
  height: 19px;
  left: 6px;
  background-image: url(../assets/images/person.svg);
}

.menu__item-link--tool::before {
  width: 19px;
  height: 19px;
  left: 15px;
  background-image: url(../assets/images/tool.svg);
}

.menu__item-link--envelope::before {
  width: 24px;
  height: 18px;
  left: 17px;
  background-image: url(../assets/images/envelope.svg);
}

.button {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: inline-block;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider {
  padding: 56px 0 71px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.slider__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__button {
  position: absolute;
  width: 33px;
  height: 58px;
  background-color: #f5c506;
  background-image: url("../assets/images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider__button:hover,
.slider__button:active {
  background-color: #dcb105;
}

.slider__button--prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  left: -140px;
  top: 187px;
}

.slider__button--next{
  right: -140px;
  top: 187px;
}

.slider__button--play {
  width: 67px;
  height: 67px;
  top: 50%;
  left: 44%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button--play {
  position: absolute;
  border-radius: 50%;
  background-color: #F5C50672;
  background-image: url("../assets/images/play-btn.svg");
  background-repeat: no-repeat;
  background-position: 25px;
}

.button--play:hover {
  background-color: #F5C506;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 7px;
  margin-right: 35px;
  position: relative;
}

.slider__video {
  width: 549px;
  height: 327px;
}

video {
  -o-object-fit: cover;
     object-fit: cover; /*to cover all the box*/
}

.slider__title {
  font-family: "Asap", "Helvetica", sans-serif;
  font-size: 63px;
  line-height: 75px;
  width: 418px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 75px;
}

.slider__title--yellow {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  color: #f5c506;
}

.advantages {
  position: relative;
  background-image: url("../assets/images/bg-white.jpg");
  min-height: 213px;
  z-index: 2;
}

.advantages__wrapper {
  -webkit-box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.5),
                      0px 4px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.5),
              0px 4px 10px 0px rgba(0,0,0,0.5);

  top: -20x;
  position: absolute;
  width: 100%;
}

.advantages__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__item {
  padding-top: 148px;
  width: 100%;
  text-align: center;
  font-family: "Segoe WP", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 27px;
  color: hsla(0, 0%, 0%, 9);
  text-transform: uppercase;
  position: relative;
  border-right: 1px solid hsla(0, 0%, 0%, 0.1);
  border-left: 1px solid hsla(0, 0%, 0%, 0.1);
  padding-bottom: 33px;
}

.advantages__item--design {
  border-right: none;
}

.advantages__item--free {
  border-left: none;
}

.advantages__item::before {
  content: "";
  position: absolute;
}

.advantages__item--design::before {
  width: 109px;
  height: 74px;
  top: 61px;
  left: 114px;
  background-image: url(../assets/images/download.svg);
}

.advantages__item--customise::before {
  width: 92px;
  height: 95px;
  top: 37px;
  left: 137px;
  background-image: url(../assets/images/leaf.svg);
}

.advantages__item--free::before {
  width: 81px;
  height: 83px;
  top: 54px;
  left: 120px;
  background-image: url(../assets/images/plane.svg);
}

.events {
  height: 508px;
}

.events__wrapper {
  background-image: url("../assets/images/bg-yellow.jpg");
  padding-bottom: 20px;
  width: 100%;
}

.events__title {
  margin: 0;
  font-family: "PTSans", "Helvetica", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 37px;
  padding: 34px 0 1px 0;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 32px;
}

.events__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.events__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 655px;
  min-height: 233px;
  background: #ec9e03;
}

.events__item::after {
  content: "25";
  position: absolute;
  width: 114px;
  height: 87px;
  bottom: -87px;
  left: 0;
  font-family: "Segoe WP", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 51px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  background: #ddb101;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.events__item::before {
  content: "april";
  position: absolute;
  width: 114px;
  height: 30px;
  bottom: -93px;
  left: 0;
  font-family: "Segoe WP", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 21;
  color: #b26529;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;
}

.events__item-inner-wrapper {
  width: 341px;
}

.events__item-content {
  padding-top: 18px;
  padding-left: 30px;
  font-size: 29px;
  line-height: 38px;
  font-family: "Segoe WP", "Helvetica", sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.events__share-block {
  width: 332px;
  background: #ec9e03;
}

.events__pagination {
  margin-top: 100px;
}

.button--plus {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: #ec9e03;
  background-image: url("../assets/images/plus.svg");
  margin-left: auto;
}

.events__share-block .button--plus {
  margin-top: auto;
}

.button--plus:hover {
  opacity: 0.6;
  cursor: pointer;
}

.events__share-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../assets/images/twitter.svg");
  background-repeat: no-repeat;
  background-position: 83px 60px;
  width: 329px;
}

.events__small {
  display: inline block;
  font-size: 29px;
  line-height: 38px;
  font-family: "Segoe WP", "Helvetica", sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin: 10px 16px 0 auto;
}

.message-form-wrapper {
  display: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 886px;
  border-radius: 15px;
  background: hsla(0, 100%, 100%,  0.48);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 886px;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: hsla(0, 100%, 100%,  0.48);
  border-radius: 15px;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 202px;
  border-radius: 15px;
  background: #ec9e03;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: hsla(0, 100%, 100%,  0.48);
}

input[type=range]::-moz-range-track {
  width: 886px;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: hsla(0, 100%, 100%,  0.48);
  border-radius: 15px;
}

input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 202px;
  border-radius: 15px;
  background: #ec9e03;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 886px;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: hsla(0, 100%, 100%,  0.48);
  border-radius: 15px;
}

input[type=range]::-ms-fill-upper {
  background: hsla(0, 100%, 100%, 0.48);
  border-radius: 15px;
}

input[type=range]::-ms-thumb {
  height: 36px;
  width: 16px;
  border-radius: 15px;
  background: #ec9e03;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: hsla(0, 100%, 100%,  0.48);
}

input[type=range]:focus::-ms-fill-upper {
  background: hsla(0, 100%, 100%, 0.48);
}

.events__pagination {
  margin-top: 130px;
}

.event__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.events__video-wrapper {
  font-size: 0;
  position: relative;
}

.events__button--play {
  width: 61px;
  height: 61px;
  top: 40%;
  left: 160px;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.devices {
  background-image: url("../assets/images/bg-grey.jpg");
  position: relative;
  padding-bottom: 64px;
  z-index: -1;
}

.devices__title {
  margin: 0;
  padding-top: 39px;
  padding-bottom: 6px;
  font-size: 43px;
  font-family: "PTSans", "Helvetica", sans-serif;
  font-weight: 400;
  color: #f5c506;
  text-align: center;
  text-transform: uppercase;
}

.devices__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
}

.devices__list {
  width: 398px;
  margin: 0;
  padding: 87px 0 0 0;
  margin-left: auto;
  list-style: none;
}

.devices__item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 28px;
  color: #a9a9a7;
  letter-spacing: 1px;
  font-family: "PTSans", "Helvetica", sans-serif;
}

.devices__item::before {
  content: "";
  background: #f5c506;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: 17px;
  top: 8px;
  position: absolute;
}

.page-footer {
  background: #4c4c4c;
  -webkit-box-shadow: 0px -10px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -10px 15px 0px rgba(0,0,0,0.75);
  bottom: 0px;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 64px;
}

.page-footer__title {
  margin: 0;
  font-size: 29px;
  font-family: "LucidaSans", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
  padding-left: 7px;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
}

@media (max-width: 640px) {
  .container {
    width: 640px;
  }

  .page-header {
    height: 62px;
    padding: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#5d5d5d), to(#444444));
    background: -o-linear-gradient(#5d5d5d, #444444);
    background: linear-gradient(#5d5d5d, #444444);
    padding-left: 13px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .page-header__title {
    font-size: 19px;
    line-height: 62px;
    margin-top: 0;
    padding-left: 5px;
  }

  .page-header__logo {
    margin-top: 12px;
  }

  .page-header__navigation {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 455px;
    padding-left: 23px;
  }

  .menu__item-link {
    height: 62px;
    font-size: 19px;
    padding: 0;
    letter-spacing: -1px;
  }

  .menu__item-link--person {
    padding: 0 24px 0 36px;
  }

  .menu__item-link--tool {
    padding: 0 8px 0 36px;
  }

  .menu__item-link--envelope {
    padding-left: 51px;
  }

  .menu__item-link::before {
    content: "";
    top: 20px;
    position: absolute;
  }

  .menu__item-link--person::before {
    width: 24px;
    height: 21px;
    left: 1px;
    background-image: url(../assets/images/person.svg);
  }

  .menu__item-link--tool::before {
    width: 22px;
    height: 22px;
    left: 9px;
    background-image: url(../assets/images/tool.svg);
  }

  .menu__item-link--envelope::before {
    width: 28px;
    height: 21px;
    left: 12px;
    background-image: url(../assets/images/envelope.svg);
  }

  .slider {
    width: 100%;
    height: 327px;
    padding: 0;
  }

  .slider__button--play {
    left: 297px;
  }

  .slider__item {
    margin: 0;
    width: 100%;
    height: 327px;
  }

  .slider__video {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  video[poster]{
    height: 100%;
    width: 100%;
  }

  .slider__title {
    display: none;
  }

  .slider__button {
    display: none;
  }

  .advantages {
    min-height: 170px;
  }

  .advantages__wrapper {
    height: 171px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px -4px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px -4px 0px 0px rgba(255, 255, 255, 0.4);
  }

  .advantages__list {
    -webkit-box-shadow: 0px -9px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px -9px 0px 0px rgba(255, 255, 255, 0.4);
  }

  .advantages__item {
    font-size: 23px;
    padding-top: 114px;
    padding-bottom: 30px;
  }

  .advantages__item--design {
    border-left: none;
  }

  .advantages__item--design::before {
    width: 89px;
    height: 61px;
    background-repeat: no-repeat;
    top: 32px;
    left: 45px;
  }

  .advantages__item--customise::before {
    width: 67px;
    height: 69px;
    top: 28px;
    left: 82px;
    background-image: url(../assets/images/leaf.svg);
  }

  .advantages__item--free::before {
    width: 68px;
    height: 69px;
    top: 28px;
    left: 70px;
    background-image: url(../assets/images/plane.svg);
  }

  .events {
    height: 472px;
  }

  .events__wrapper {
    padding-bottom: 0;
  }

  .events__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  .events__item-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .events__item {
    width: 100%;
  }

  .events__item::after {
    display: none;
  }

  .events__item::before {
    display: none;
  }

  .events__item-content {
    font-size: 29px;
    line-height: 34px;
    padding-top: 15px;
    padding-left: 26px;
    padding-right: 18px;
    padding-bottom: 21px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }

  .events__item-inner-wrapper {
    border: 9px solid white;
    border-right: 4.5px solid white;
  }

  .events__video-wrapper {
    border: 9px solid white;
    border-left: 4.5px solid white;
    width: 357px;
  }

  .event__input-wrapper {
    display: none;
  }

  .events__share-block {
    width: 100%;
    height: 200px;
    background-color: #f5c507;
    background-image: #c28401;
    background-position: 82px 61px;
    padding-top: 24px;
    padding-bottom: 12px;
  }

  .events__small {
    display: none;
  }

  .events__share-block .button--plus  {
    display: none;
  }

  .message-form-wrapper {
    display: block;
    width: 50%;
    height: 100%;
    margin-left: auto;
    padding-right: 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 4px;
  }

  .message__item {
    display: block;
    padding: 9px 40px 5px 27px;
    font-size: 13px;
    color: rgba(143, 142, 142, 255);
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 14px;
    background: #ffffff;
    position: relative;
  }

  .message__item::before {
    position: absolute;
    content: "";
    top: 0;
    left: -3px;
    width: 20px;
    height: 42px;
    background: url("../assets/images/tweet-pic.png");
    z-index: 5;
  }

  .message__item--ex-prev {
    background-color: #fceeb5;
  }

  .message__item--prev {
    background-color: #fbe89c;
  }

  .message-form {
    width: 270px;
    height: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    position: relative;
  }

  .message-form__text-input {
    margin: 0;
    border-color: #d1900d;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .button--tweet {
    width: 70px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eaa927), to(#d1900d));
    background: -o-linear-gradient(#eaa927, #d1900d);
    background: linear-gradient(#eaa927, #d1900d);
    z-index: 5;
    position: absolute;
    right: 0;
  }

  .button--tweet:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#d1900d), to(#eaa927));
    background: -o-linear-gradient(#d1900d, #eaa927);
    background: linear-gradient(#d1900d, #eaa927);
  }

  .button--tweet:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#f9bd4f), to(#f0b64d));
    background: -o-linear-gradient(#f9bd4f, #f0b64d);
    background: linear-gradient(#f9bd4f, #f0b64d);
    -webkit-box-shadow: inset 0 10px 15px 0 #dba646;
            box-shadow: inset 0 10px 15px 0 #dba646;
  }

  .devices {
    height: 450px;
    background: #474747;
    padding-bottom: 70px;
  }

  .devices__title {
    width: 100vw;
    margin: 0;
    padding-top: 47px;
    font-size: 39px;
    padding-left: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    letter-spacing: 2.5px;
  }

  .devices__list {
    display: none;
  }

  .devices__inner-wrapper {
    padding-top: 28px;
    padding-left: 37px;
  }

  .page-footer__title {
    font-size: 17px;
    line-height: 42px;
  }

  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 42px;
  }

  .page-footer__logo {
    margin-left: 65px;
  }
}
